* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/LogServ.README -text
/LogServ.README.html -text
/LogServ.xml -text
/Makefile.in -text
/NEWS -text
/OnisDoLogs.sh -text
/README.LogServ -text
/configure -text
/configure.in -text
/install-sh -text
/lgs_help.c -text
/log_processing.c -text
/logserv.c -text
/logserv.h -text
/modconfig.h.in -text
/onisconfig -text
