* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/LogServ.README -text
/LogServ.README.html -text
/LogServ.xml -text
/Makefile.in -text
/NEWS -text
/OnisDoLogs.sh -text
/README.LogServ -text
/RELNOTES -text
/configure -text
/configure.in -text
/install-sh -text
/lgs_help.c -text
/logdefault.c -text
/logdefault.h -text
/logeggdrop.c -text
/logeggdrop.h -text
/logmirc.c -text
/logmirc.h -text
/logprocessing.c -text
/logserv.c -text
/logserv.h -text
/logserv.vcproj -text
/logxchat.c -text
/logxchat.h -text
/modconfig.h.in -text
/modconfigwin32.h -text
/onisconfig -text
